extends layout

block content
	article
		ul(class="grid")
			for startup in startups
				for startupIn in startup
					if(startupIn.group == "startup")
						li
							span
								a(href="http://"+startupIn.body.url, target="_blank", class="company" style="background-image: url("+startupIn.body.logo+")")  
									span startupIn.body.title
								if(startupIn.group == "startup")
									a(href="http://www.20x200.com/jobs/" class="hiring" title="20x200 is hiring" target="_blank") hiring