extends layout

block content
  article
        ul
          for startup in startups
            for startupIn in startup
              li
                a(href="http://"+startupIn.body.url, target="_blank" class="company")
                  img(src=startupIn.body.logo)
                a(href="http://www.20x200.com/jobs/" class="hiring" title="20x200 is hiring" target="_blank")
                  img(src="/img/hiring.png")