extends layout

block content
	article
		ul
			li
				a(href="http://teamable.me/", target="_blank")
					img(src="/img/teamable-logo.png")
				a(href="http://www.20x200.com/jobs/" class="hiring" title="20x200 is hiring" target="_blank")
					img(src="/img/hiring.png")
			li
				a(href="https://dev-traitsinc.lsq.io/", target="_blank")
					img(src="/img/trait-logo.png")
				a(href="http://www.20x200.com/jobs/" class="hiring" title="20x200 is hiring" target="_blank")
					img(src="/img/hiring.png")
			li
				a(href="http://dendrite.com/", target="_blank")
					img(src="/img/dendrite-logo.png")
				a(href="http://www.20x200.com/jobs/" class="hiring" title="20x200 is hiring" target="_blank")
					img(src="/img/hiring.png")
			li
				a(href="http://www.thenest.am//", target="_blank")
					img(src="/img/nest-logo.png")
				a(href="http://www.20x200.com/jobs/" class="hiring" title="20x200 is hiring" target="_blank")
					img(src="/img/hiring.png")

					