extends layout

block content  

  ul
    for startup in startups
      for startupIn in startup
        h1=startupIn.title
        a(href="http://"+startupIn.body.url, target="_blank") Visit Us     
        h3=startupIn.body.founders
        h3=startupIn.body.city

    else
      li sorry, no startups!


  //- div(id="addCompany")
  //-   h2 Add Company 
  //-   div
  //-     label Company Name: 
  //-     input(type='text', name='cName')
  //-   div
  //-     label Email Address:
  //-     input(type='text', name='email')
  //-   div
  //-     label Page url:
  //-     input(type='text', name='url')
  //-   div
  //-     label City:
  //-     input(type='text', name='city')
  //-   div
  //-     <label>Founders:</label>
  //-     <input type='text' class='founder_input' class='input' /><button class="add_founder">+</button>
  //-     <ul class="founders">       
  //-     </ul>
  //-   div
  //-     <button type="submit" class="submit">Submit</button>