html
	head
		title Made In Armenia
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/stylesheet.css')

		link(rel="shortcut icon", type="image/ico", href="/favicon.ico")

	body 	
		header
			div(class="shade")
				div(class="welcomeTextWrap")
					div(class="welcomeText")
						h1 Made In Armenia
						h2 a collection of tech companies made in 
							span Armenia

					button(class="moreInfo open") More Info
					
					nav
						button(class="action_grid active") grid
						button(class="action_list") list
							
			

			div(class="moreInfoText")
				p(class="text")
					| Through MadeinArmenia.org, Armenia’s collective digital strenght can be accessed under one recognisable brand.
					| ‘Made in Armenia’ intends to showcase what Armenia’s tech entrepreneurs have to offer!
					br 
					br
					| Companies in this website 
					ul
						li have R&D operations in Armenia, 
						li they proudly proclaim they are “Made in Armenia”
						li display the link to our page on their website
				p If you meet criteria submit  
					a(href="https://docs.google.com/forms/d/14I8q7VIwqmoxla-Mctyt9P-LMijUE-SDpyaggZn55Bk/viewform" target="_blank" ) this form  
					| and  we will contact you in 5 days. 
				p Send your questions, suggestions and comments to 
					a madeinarm.tech@gmail.com.


		block content


		script(type="text/JavaScript",src="/javascripts/jq.js")
		script(type="text/JavaScript",src="/javascripts/_.js")
		script(type="text/JavaScript",src="/javascripts/bb.js")
		script(type="text/JavaScript",src="/javascripts/app.js")
		script.		
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-39336095-5', 'madeinarmenia.org');
			ga('send', 'pageview');

