html
	head
		title armenia
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/stylesheet.css')
		//- link(rel='stylesheet', href='/stylesheets/style.css')
		//- link(rel='stylesheet', href='/stylesheets/style_hover.css')		
		
	body		
		header
			div(class="shade")
				div(class="welcomeTextWrap")
					div(class="welcomeText")
						h1 Made In Armenia
						h2 a collection of tech companies made in <i> armenia</i>

					button(class="moreInfo open") More Info
					
					nav
						button(class="action_grid active") grid
						button(class="action_list") list
							
			

			div(class="moreInfoText")
				p MadeInArmenia.org was created as a resource which can serve as a meeting place for Armenian technology companies. Our members meet several criterias.
				ul
					li Product/Service development must be primarily done in Armenia.
					li They must bear the MadeInArmenia slogon on their corporate or product webpage. 
						a(href="mailto:anna@saryantumanyan.com") Contact us


		block content


		script(type="text/JavaScript",src="/javascripts/jq.js")
		script(type="text/JavaScript",src="/javascripts/_.js")
		script(type="text/JavaScript",src="/javascripts/bb.js")
		script(type="text/JavaScript",src="/javascripts/app.js")