html
	head
		title armenia
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/style_hover.css')		
		
	body(id="sss")		
		header
			div(class="shade")
				span(class="span")
					h1 Made In Armenia
					h2 a collection of tech companies made in 
						span( style="color: #d1d1d1") armenia 		

				div(class="joinblock")
					img(src="/img/check.png")
					button(class="join") More Info
			

			div(id="form" class="form" style="margin-left:-60%")
				div(class="text")
					ul
							li Companies in this website  have R&D operations or offices located in Armenia. 
							li If you meet criteria, submit this form and expect response in a week.
							li Questions? 
								a(href="mailto:anna@saryantumanyan.com") Contact us
			
					
				
				//- span()
				//- 	h1 Made In Armenia
				//- 	h2 a collection of tech companies made in 
				//- 		span(style="color: #d1d1d1") armenia
			nav
				button(class="list") List View
				button(class="grid") Grid View	
			
				//- button(class="close") X
				//- h2 Add Company
				//- label Company Name: 
				//- 	input(type='text', name='cName')
				//- label Email Address:
				//- 	input(type='text', name='email')
				//- label Page url:	
				//- 	input(type='text', name='url')
				//- label City:
				//- 	input(type='text', name='city')
				//- label Founders:
				//- 	input(type='text' class='founder_input' class='input')
				//- 	button(class="add_founder") Add
				//- 	ul(class="founders")
				//- form
				//- 	label Logo
				//- 		input(input type="file" name="file" id="file")
				//- 		input(type="submit" name="submit" value="Upload Logo")
				//- div(id="logos")
		block content


		script(type="text/JavaScript",src="/javascripts/jq.js")
		script(type="text/JavaScript",src="/javascripts/_.js")
		script(type="text/JavaScript",src="/javascripts/bb.js")
		script(type="text/JavaScript",src="/javascripts/app.js")